{% extends "base.html" %}

{% block styecss %}

{% endblock styecss %}

{% block mainbody %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-2 border-right">
            {% include 'hr_sub_sidemenu.html' %}
        </div>
        <div class="col-10">
            <div class="row border-bottom">
                <div class="col-12">
                    <div class="row">
                        <h3 class="col-auto mr-auto">{{ title }}</h3>
                        <div class="col-auto px-0">
                            <div class="form-group form-row col-12">
                                <label class="col-2 col-form-label text-right" for="name">日期</label>
                                <div class="col-4">
                                    <input class="form-control" type="date" name="address" id="address" value="">
                                </div>
                                <label class="col-auto col-form-label text-right" for="name">姓名</label>
                                <div class="col-4">
                                    <input class="form-control" type="text" name="address" id="address" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto px-0">
                            <!--导入导出条-->
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        动作
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" id="dddd">导入</a>
                                        <a class="dropdown-item" href="/static/download/property_list.xlsx">导出xlsx</a>
                                    </div>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        分组
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" data-act="group" data-groupby="name">部门</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" data-act="group" data-groupby="categoryid">级别</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" data-toggle="query">查询</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="runstatus sr-only spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="runstatus sr-only">获取中...</span>
                                    <span class="runstatus">获取记录</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="run dropdown-item" href="#">获取记录(1d)</a>
                                    <a class="run dropdown-item" href="#">获取记录(3d)</a>
                                    <a class="run dropdown-item" href="#">获取记录(7d)</a>
                                    <a class="run dropdown-item" href="#">获取记录(30d)</a>
                                    <a class="run dropdown-item" href="#">获取记录(60d)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">

                    <table class="table table-hover">
                        <thead class="bg-light">
                            <tr>
                                <th class="border-right" data-id="sid">姓名<i class="fa fa-sort-alpha-asc" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="name">部门<i class="fa fa-sort-alpha-asc" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="name">规则<i class="fa fa-sort-alpha-asc" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="specifications">最早 | 最晚<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="name">次数<i class="" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="warranty">工时<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">审批单<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">状态<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">校准<i class="" aria-hidden="true" data-id="0"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in context2 %}
                                <tr>
                                    <th>{{ item.name | title }} ({{ item.pin| safe }})</th>
                                    <td>{{ item.employee_department__departmentid__name }}</td>
                                    <td>白天班</td>
                                    <td>{{ item.fast | date:"H:i" }} | {{ item.last | date:"H:i" }}</td>
                                    <td>{{ item.count| default:"-"}}</td>
                                    <td>{{ item.long | default:"-"}}</td>
                                    <td>2</td>
                                    <td>OK</td>
                                    <td>无</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align: center;">(暂无数据)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>




                    <table class="table table-hover">
                        <thead class="bg-light">
                            <tr>
                                <th class="border-right" data-id="sid">姓名<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="name">部门<i class="" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="name">PIN<i class="" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="specifications">时间<i class="fa fa-sort-alpha-desc" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">方式<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">来源<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">校准<i class="" aria-hidden="true" data-id="0"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in context %}
                                <tr>
                                    <th>{{ item.name | title }}</th>
                                    <td>{{ item.employee_department__departmentid__name }}</td>
                                    <td>{{ item.pin| default_if_none:'-' }}</td>
                                    <td>{{ item.checktime | date:"Y-m-d H:i:s" }}</td>
                                    <td>{{ item.count| default:"-"}}</td>
                                    <td>{{ item.sn | default_if_none:'-' }}</td>
                                    <td>设备</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align: center;">(暂无数据)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btnGroupDrop1').attr("disabled",false);
            $('#btnGroupDrop1').attr( "title", "jQuery 教程");
            $(".run").click(function () {
                $('.runstatus').toggleClass('sr-only');

                $.get(
                    "/att/getmssql/",
                    function (data) {
                        $('.runstatus').toggleClass('sr-only');
                        $('#btnGroupDrop1').removeAttr("disabled");
                    });
            });
        });
    </script>
{% endblock jquery%}