{% extends "base.html" %}

{% block styecss %}

{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
                {% include 'hr_sub_sidemenu.html' %}
            </div>
            <div class="col-10">
                <div class="row border-bottom mb-3">
                    <div class="col-12">
                        <div class="row">
                            <h3 class="col-sm-6">{{ title }}</h3>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" data-toggle="create" id="kkkk">保存</button>
                                <button type="button" class="btn btn-outline-secondary disabled" data-toggle="del">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="row">
                    <div class="col-8">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <div class="col-auto"><span class="card-title">Featured</span></div>
                                    <div class="col-auto">
                                        <from class="form-inline">
                                            <label class="col-form-label col-form-label-sm mr-2" for="name">部门</label>
                                            <input class="form-control form-control-sm mr-2" type="text" name="address" id="address" value="">
                                            <label class="col-form-label col-form-label-sm mr-2" for="name">姓名</label>
                                            <input class="form-control form-control-sm" type="text" name="address" id="address" value="">
                                        </from>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <table class="table table-hover table-sm">
                        <thead class="bg-light">
                            <tr>
                                <th class="border-right" data-id="sid">姓名<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="name">部门<i class="" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="name">PIN<i class="" aria-hidden="true" data-id="1"></i></th>
                                <th class="border-right" data-id="specifications">时间<i class="fa fa-sort-alpha-desc" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">方式<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="border-right" data-id="sn">来源<i class="" aria-hidden="true" data-id="0"></i></th>
                                <th class="" data-id="sn">校准<i class="" aria-hidden="true" data-id="0"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in context %}
                                <tr>
                                    <th>{{ item.name | title }}</th>
                                    <td>{{ item.employee_department__departmentid__name }}</td>
                                    <td>{{ item.pin| default_if_none:'-' }}</td>
                                    <td>{{ item.checktime | date:"Y-m-d H:i:s" }}</td>
                                    <td>{{ item.count| default:"-"}}</td>
                                    <td>{{ item.sn | default_if_none:'-' }}</td>
                                    <td>设备</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" style="text-align: center;">(暂无数据)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-body">
                                <p class="card-text">fsfasdfad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <span class="col mr-auto">
                                        <span class="card-title">班次</span>
                                    </span>
                                    <span class="col-auto">
                                        <i class="fa fa-reply fa-1x"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <span class="col mr-auto">
                                        <span class="card-title">时段</span>
                                    </span>
                                    <span class="col-auto">
                                        <i class="fa fa-upload fa-1x"></i>
                                    </span>
                                </div>
                            </div>
                            <form>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label class="col-form-label">开始时间</label>
                                            <input class="form-control" type="time" name="instar" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="col-form-label">结束时间</label>
                                            <input class="form-control" type="time" name="incheck" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label class="col-form-label">签到时间</label>
                                            <input class="form-control" type="time" name="instar" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="col-form-label">必须签到</label>
                                            <input class="form-control" type="checkbox" name="incheck" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label class="col-form-label">大于为迟到</label>
                                            <input class="form-control" type="number" name="instar" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="col-form-label">大于为缺勤</label>
                                            <input class="form-control" type="number" name="incheck" value="">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label class="card-text">开始时间</label>
                                            <input class="form-control" type="time" name="instar" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="card-text">结束时间</label>
                                            <input class="form-control" type="time" name="incheck" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label class="card-text">必须签出</label>
                                            <input class="form-control" type="checkbox" name="instar" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="card-text">签出时间</label>
                                            <input class="form-control" type="time" name="incheck" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-form-label col-auto">大于</label>
                                        <div class="input-group col-4 mb-1">
                                            <input class="form-control" type="number" name="incheck" value="">
                                            <div class="input-group-append">
                                                <span class="input-group-text">分钟</span>
                                            </div>
                                        </div>
                                        <label class="col-form-label col">为早退</label>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-form-label col-auto">大于</label>
                                        <div class="input-group col-4">
                                            <input class="form-control" type="number" name="incheck" value="">
                                            <div class="input-group-append">
                                                <span class="input-group-text">分钟</span>
                                            </div>
                                        </div>
                                        <label class="col-form-label col">为缺勤</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group form-check mb-0">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">迟到()分钟以内</label>
                                        <label class="form-check-label">工时大于()分钟为不记迟到</label>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="form-group form-check mb-0">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">签到一次即为全勤</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label class="card-text">记工作日(天)</label>
                                            <input class="form-control" type="number" name="instar" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="card-text">记工作时(分钟)</label>
                                            <input class="form-control" type="number" name="incheck" value="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                                </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    {% include 'hr_sub_toast.html' %}
{% endblock %}

{% block jquery %}
        <script src="/static/js/hr/view_hr_broad.js"></script>
{% endblock jquery%}