{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/hr/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
                {% include 'hr_sub_sidemenu.html' %}
            </div>
            <div class="col-10">
                <div class="row border-bottom mb-3">
                    <div class="col-12">
                        <div class="row">
                            <h3 class="col-sm-6">{{ title }}</h3>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" data-toggle="create" id="kkkk">保存</button>
                                <button type="button" class="btn btn-outline-secondary disabled" data-toggle="del">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="row">
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h5 class="text-info">常规</h5>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">签到数据清理</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="radio" class="form-check-input" id="synctype1" name="synctype">
                                <label for="synctype1" class="form-check-label">从不删除</label>
                            </div>
                            <div class="custom-control custom-radio col-2">
                                <input type="radio" class="form-check-input" id="synctype2" name="synctype">
                                <label for="synctype2" class="form-check-label">自动删除(90)天之前的数据</label>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">月起始日</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="checkbox" class="form-check-input" id="weekstart" name="weekstart">
                                <label for="weekstart" class="form-check-label">一</label>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">最长班次时间</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="checkbox" class="form-check-input" id="weekstart" name="weekstart">
                                <label for="weekstart" class="form-check-label">一</label>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">最短班次时间</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="checkbox" class="form-check-input" id="weekstart" name="weekstart">
                                <label for="weekstart" class="form-check-label">一</label>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">有效出勤记录间隔</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="checkbox" class="form-check-input" id="weekstart" name="weekstart">
                                <label for="weekstart" class="form-check-label">一</label>
                            </div>
                        </div>
                        <div class="row mb-3 mt-5">
                            <div class="col-12">
                                <h5 class="text-info">工作周</h5>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">工作周</div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week7" name="weekchooice">
                                <label for="week7" class="form-check-label">周日</label>
                            </div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week1" name="weekchooice">
                                <label for="week1" class="form-check-label">周一</label>
                            </div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week2" name="weekchooice">
                                <label for="week2" class="form-check-label">周二</label>
                            </div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week3" name="weekchooice">
                                <label for="week3" class="form-check-label">周三</label>
                            </div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week4" name="weekchooice">
                                <label for="week4" class="form-check-label">周四</label>
                            </div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week5" name="weekchooice">
                                <label for="week5" class="form-check-label">周五</label>
                            </div>
                            <div class="custom-control custom-radio col-auto">
                                <input type="checkbox" class="form-check-input" id="week6" name="weekchooice">
                                <label for="week6" class="form-check-label">周六</label>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">周起始日</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="checkbox" class="form-check-input" id="weekstart" name="weekstart">
                                <label for="weekstart" class="form-check-label">周一</label>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2 border-right mr-3">周末加班</div>
                            <div class="custom-control custom-radio col-2">
                                <input type="checkbox" class="form-check-input" id="wdadd" name="workadd">
                                <label for="wdadd" class="form-check-label">全天计为加班</label>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    {% include 'hr_sub_toast.html' %}
{% endblock %}

{% block jquery %}
        <script src="/static/js/hr/view_hr_broad.js"></script>
{% endblock jquery%}